Flask==3.0.0
Flask-CORS==4.0.0
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.20
spotipy==2.23.0
python-dotenv==1.0.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
whitenoise==6.6.0
Flask-Session==0.6.0
openai==1.12.0
aiohttp==3.9.3